.am-fr{
    float:right;
}
.chat-btn>i{
    line-height: 1;
}
.chat-btn:after{
    display: none !important;
}
.chat-tab-icon{
    font-size: 22px;
}
.chat-btn-badge{
    position: absolute;
    left: 28px;
    top: 6px;
    border-radius: 9px;
    background-color: red;
    line-height: 16px;
    color: white;
    padding: 0 4px;
    font-size: 12px;
    z-index: 1;
}
.chat-window{
    background-color: white;
    box-shadow: 0 0 6px #666;
    width: 850px;
    height:80%;
    max-height: 600px;
    position: fixed;
    z-index: 1011;
    top: 80px;
    right: 50%;
    opacity:1;
    margin-right: -425px;
    -webkit-transform-origin-y:0;
    transform-origin-y:0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.chat-window.dragging{
    -webkit-transition: none;
    transition: none;
}
.chat-window.hide{
    opacity: 0;
    top:0;
    right:0;
}
.chat-menu{
    width: 50px;
    background: #3E3E40;
    color: #ddd;
    cursor: move;
}
.chat-menu .list>li{
    text-align: center;
    line-height: 2;
    font-size: 1.3em;
    cursor: pointer;
}
.chat-menu .list>li.active{
    color: #24F7E6;
}
.chat-left{
    position: relative;
    width: 250px;
    background-color: #eee;
}
.chat-search{
    margin:10px 0;
}
.chat-search-group{
    position: relative;
    display: inline-block;
    margin-left: 10px;
    width: 230px;
}
.chat-search-group>input{
    padding: 4px 5px;
    width: 100%;
    font-size: 13px;
}
.chat-search-group>i{
    position: absolute;
    top: 0;
    right: 5px;
    color: #666;
}
.chat-category{
    position: absolute;
    left:0;
    top: 60px;
    bottom:0;
    width: 100%;
    overflow-y: auto;
    font-size: 14px;
}
.chat-category li:hover{
    background-color: #E2E4E6;
}
.chat-category li.active{
    background-color: #CACDD3;
}
.chat-list-title{
    padding: 2px 10px;
    background-color: #ddd;
    color: #666;
}
.chat-list-item{
    position: relative;
    padding:5px 1rem;
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.chat-list-item .avatar{
    float: left;
    width: 40px;
    height: 40px;
    -webkit-transition: all .15s;
    transition: all .15s;
}
.chat-list-item:hover .avatar{
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
.chat-list-item .after-avatar{
    margin-left: 10px;
    line-height: 1.2;
    padding-top: 5px;
    text-align: left;
}
.chat-list-item .after-avatar .recent{
    color: #999;
    font-size: .9em;
}
.chat-list-item .chat-btn-badge{
    left:2px;
    top:0;
}
.chat-list-item .edit{
    position: absolute;
    top: 14px;
    right: 7px;
    display: none;
}
.chat-list-item:hover .edit{
    display: block;
}
.chat-right{
    position: relative;
    background-color: #F5F5F5;
}
.chat-offline{
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 10;
}
.chat-loading{
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
}
.chat-loading>i{
    font-size: 2em;
    height: 1.5em;
    color: #999;
}
.chat-hd{
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #DDD;
    background-color: white;
    cursor: move;
}
.chat-close{
    padding:0 10px;
    color: #666;
    font-size: .9em;
    height: 100%;
    display: flex;
    align-items: center;
}
.chat-close:hover{
    background-color: #ddd;
}
.chat-bd{
    position: absolute;
    left:0;
    top: 30px;
    bottom: 106px;
    width:100%;
    padding:5px 0;
    overflow-y: auto;
}
.chat-bd.detail{
    bottom:0;
}
.chat-bd.group{
    bottom: 50px;
}
.chat-bd .person{
    text-align: center;
    padding-top: 80px;
}
.chat-bd .person .avatar{
    width: 120px;
    height: 120px;
}
.chat-bd .person .avatar-default{
    font-size: 4.5em;
}
.chat-start-btn{
    width: 180px;
}
.chat-system-msg{
    text-align: center;
}
.chat-system-msg>small{
    background: rgba(0, 0, 0, .2);
    color: white;
    padding: 3px 6px;
    border-radius: 3px;
}
.chat-msg{
    overflow: hidden;
    margin:6px 0;
}
.chat-msg-bd{
    padding: 6px 10px;
    max-width: 70%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 5px #E7E7E7;
    line-height:1.2;
    word-wrap: break-word;
}
.chat-msg-bd:after{
    content: "";
    position: absolute;
    top: 10px;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.chat-msg-bd img{
    max-width: 200px;
}
.chat-msg.left>span{
    float: left;
    margin-left: 5px;
}
.chat-msg.left .chat-msg-bd{
    float: left;
    background: white;
    margin: 3px 0 3px 2%;
}
.chat-msg.left .chat-msg-bd:after{
    background: white;
    left: -4px;
}
.chat-msg.right>span{
    float: right;
    margin-right: 5px;
}
.chat-msg.right .chat-msg-bd{
    float: right;
    background: #A3E8EE;
    margin: 3px 2% 3px 0;
}
.chat-msg.right .chat-msg-bd:after{
    background: #A3E8EE;
    right: -4px;
}
.chat-msg-file .fileIcon{
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #333;
    color: white;
    font-weight:bold;
    font-size: 12px;
    border-radius: 3px;
    margin-top: 3px;
}
.chat-msg-file .name{
    display: inline-block;
    margin-left: 10px;
    color: #333;
    max-width: 200px;
}
.chat-ft{
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 106px;
    background-color: #f9f9f9;
}
.chat-ft.group{
    background: none;
    border: none;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.chat-ft.group .disband{
    position: absolute;
    left:0;
    font-size: 1.5em;
    width: 30px;
}
.chat-ft.group .quit{
    position: absolute;
    right:0;
    font-size: 1.5em;
    width: 30px;
}
.chat-ft-cover{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: rgba(255,255,255,.5);
}
.chat-input{
    height: 62px;
    line-height: 1.2;
    padding: 5px 10px;
    outline: none;
    overflow-y: auto;
}
.chat-actions{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 6px; */
}
.chat-actions .am-btn{
    float: right;
    /* margin-top: -40px; */
}
.chat-action{
    display: flex;
    margin-top: 12px;
}
.chat-action>li{
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
}
.chat-action>li:hover i{
    cursor: pointer;
    color: #19A7F0;
}
.chat-group-members>li{
    position: relative;
    display: inline-block;
    width: 60px;
    text-align: center;
    vertical-align: top;
    margin: 0 4px;
    padding:5px 0;
}
.chat-group-members>li .avatar,.chat-group-members .add{
    width: 50px;
    height: 50px;
}
.chat-group-members>li .master{
    position: absolute;
    right: -2px;
    top: -3px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    color: white;
    background-color: #1E8DF0;
    border-radius: 50%;
    font-size: 12px;
}
.chat-group-members>li .remove{
    position: absolute;
    right: -2px;
    top: -3px;
    width: 16px;
    height: 16px;
    line-height: 1;
    color: white;
    background-color: #F04343;
    border-radius: 50%;
    display: none;
}
.chat-group-members>li:hover .remove{
    display: block;
}
.chat-group-members .add{
    display: inline-block;
    border: 1px dashed #666;
    color: #666;
    text-align: center;
    font-size: 3em;
    line-height: 1;
    border-radius: 5px;
}